---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/navbar.astro";
import Editor from "../components/editor.svelte";
---

<Layout title="Notas con Markdown">
  <main class="max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8 flex">
    <Navbar class="h-screen pt-10 border-r w-1/5 border-neutral-600 pr-2" />

    <Editor client:load />
  </main>
</Layout>
