---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Registrase - Markdown Notes">
  <main class="h-screen w-screen flex justify-center items-center">
    <div class="bg-blue-900/10 p-4 rounded-lg w-1/3 h-fit">
      <h1 class="text-3xl font-bold text-center">Registrarse</h1>

      <form class="flex flex-col gap-2 mt-10">
        <div>
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de
            Usuario:</label>
          <input
            type="text"
            id="username"
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="elonmusk"
            name="username"
          >
        </div>

        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña:</label>
          <input
            type="password"
            id="password"
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="********"
            name="password"
          >
        </div>

        <div>
          <label for="security-question" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pregunta
            de Seguridad:</label>
          <input
            type="text"
            id="security-question"
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Nombre de mi primera persona"
            name="securityQuestion"
          >
        </div>

        <div>
          <label for="response-security-question" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Respuesta
            de la Pregunta de Seguridad:</label>
          <input
            type="text"
            id="response-security-question"
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Albatros"
            name="responseSecurityQuestion"
          >
        </div>

        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-2/5 mt-4 self-end"
        >
          Registrarse
        </button>
      </form>
      <a href="/login" class="text-sm text-muted-foreground text-white/70 hover:underline focus:underline">
        ¿Ya tienes una cuenta? Inicia sesión
      </a>
    </div>
  </main>
</Layout>

<script>
  import {$} from "../lib/dom";

  const $form = $('form')

  $form?.addEventListener('submit', async (event) => {
    event.preventDefault()

    const data = Object.fromEntries(new FormData(event.target as HTMLFormElement))


    const response = await fetch('/api/user.json', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    const dataResponse = await response.json()

    if (!response.ok) {
      const {message} = dataResponse

      if (message.startsWith('4')) {
        alert('Datos invalidos')
        return
      }

      alert('Este usuario ya existe')
      return
    }

    alert('Usuario guardado exitosamente')

    window.location.href = '/'
  })
</script>