---
import '@fontsource-variable/onest'

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Astro description"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{title}</title>
</head>
<body>
<div
  class={`
      absolute top-0 z-[-2] 
      h-screen w-screen bg-neutral-950 
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]
    `}
>
</div>
<div>
  <slot/>
</div>
</body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    color-scheme: dark;
  }

  html {
    font-family: 'Onest Variable', sans-serif;
    background: #13151a;
  }

  code {
    font-family: Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4, h5, h6 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  table {
    @apply w-full;
  }

  tr {
    @apply m-0 border-t p-0;
  }

  th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }

</style>
